body
{
    font-family: Impact;

    justify-content: center;
    background-color: #737164;
    background-image: url(../img/background_menu.png);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position:center;
    background-size: auto;
}
.header
{
    text-shadow: 0 3px 0px rgba(7, 115, 179, 0.582);
    text-align: center;
    font-size: 2em;
    padding-bottom: 5px;
    color: rgb(223, 220, 215);
    background-color: rgba(0, 115, 168, 0.623);
    
}
.bouton
{

    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    
    height: auto;
    width: 150px;
    color: rgb(223, 220, 215);
    background-color: darkolivegreen;
}
.menu-boutons
{
    display: block;
    margin: auto;

}