html
{
    width: auto;
    height: 100%;
    z-index: 2;
    background-image: url(../img/svg/Logo_Bg_0001.svg);
    background-color: rgb(75, 72, 70);
}
header
{
    height: 35vw;
    width: 100%;
}
.bannerTitle
{
    font-size: 2.5em;
    color: #272727;
    text-shadow: 1px 4px 0 beige;
    position: absolute;
    padding-left: 0.5em;
}
.bannerSubTitle
{
    width: 100%;
    font-size: 7em;
    opacity: 0.5;
    color: whitesmoke;
    position: absolute;
    padding-left: 0.5em;
}
main
{
    z-index: 1;
    opacity: 0,5;
    background-image: url(../img/svg/bkgd_nda.svg);
}
body
{
    font-family: 'motherland';
    background-color: rgb(27, 27, 26);
}
.BDP,
#descriptions
{
    z-index: 3;
    margin: 1em;
    font-family: 'consolas';
    text-shadow: 2px 2px 0px #212121,
    -1px -1px 3px #212121;
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
    color: #ffc107;
}
.modal-body
{
        background-color: #212121;
}
.modal-header, .modal-footer
{
       background-color: #ffc107;
}
.btn
{
    font-size: 1em;
    padding-top: 0.15em;
    padding-bottom: 0.17em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.35em;
    outline-style: dotted;
    outline-color: #ffc107;
    outline-offset: -0.10em;
    box-shadow: none;
}
h4
{
    color: rgb(255, 255, 255);
    background-color: #212121;
    padding-top: 0.15em;
    padding-bottom: 0.17em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.35em;
    outline-style: dotted;
    outline-color: #ffc107;
    outline-offset: -0.10em;
}
#footer
{
    background-color: #212121;
    flex-shrink: 0;
}