html
{
    width: auto;
    height: 100%;
}
header
{
    height: 40vw;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}
.bannerTitle
{
    width: 100%;
    z-index: 2;
    font-size: 3em;
    opacity: 0.75;
    position: absolute;
    padding-left: 0.5em;
}
.bannerSubTitle
{
    width: 100%;
    z-index: 1;
    font-size: 7em;
    opacity: 0.7;
    color: whitesmoke;
    position: absolute;
    padding-left: 0.5em;
}
#headerBanner
{
    z-index: 3;
    background-image: url(../img/svg/Logo_Bg_0001.svg);
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position-x: 55vw;
    background-position-y: -7.5vw;
    background-size: 75%;
}
.body-bg
{
    font-family: 'motherland';
    background-color: rgb(75, 72, 70);
}
.BDP,
#descriptions
{
    display: flexbox;
    margin: 1em;
    font-family: 'consolas';
    inter
    text-shadow: 2px 2px 3px #212121,
    -1px -1px 3px #212121;
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
    color: #ffc107;
}
.modal-body
{
        background-color: rgb(75, 72, 70);
}
.modal-header, .modal-footer
{
       background-color: #ffc107;
}
.btn
{
    font-size: 1em;
    padding-top: 0.15em;
    padding-bottom: 0.17em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.35em;
    outline-style: dotted;
    outline-color: #ffc107;
    outline-offset: -0.10em;
    box-shadow: none;
}
h4
{
    color: rgb(255, 255, 255);
    background-color: #212121;
    padding-top: 0.15em;
    padding-bottom: 0.17em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.35em;
    outline-style: dotted;
    outline-color: #ffc107;
    outline-offset: -0.10em;
}